.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  margin-left: 150px;
  margin-right: 150px;
}

body {
  background-color: #f9f9ff;
}

/* header */
.header {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 80px;
}

.nav-logo {
  font-family: inter;
  font-weight: bold;
  color: #4e47ff;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-logo:hover {
  color: #221e9c;
}

.nav-button {
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  font-weight: bold;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: #110caa;
}

/* Header Introduction Styles */
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0px 150px 0px;
}

.introduction-h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 24px;
  max-width: 800px;
  line-height: 1.2;
}

.introduction-button {
  background-color: #4e47ff;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.introduction-button:hover {
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255);
}

/* Action Section styles */
.action {
  font-family: "Raleway";
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  padding: 0;
  margin: 0;
  padding: 150px 0px;
}

.action-1 {
  flex: 1;
  padding-right: 20px;
}
.action-title {
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}

.action-description {
  width: 500px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(37, 36, 50, 0.5);
  padding: 23px 0px;
}

.action-button {
  background-color: #4e47ff;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #100abb;
}

.action-image {
  border-radius: 48px;
}

/* Productive user Styles */
.preview-div {
  display: flex;
  justify-content: center;
  max-height: 306px;
}
.preview {
  min-height: 206px;
  min-width: 856px;
  border-radius: 24px;
  position: middle;
  background-color: #d0ceff;
  padding: 50px 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.preview-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 38px;
  color: #252432;
}

.preview-containers {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
}

.preview-container {
  display: flex;
  flex-direction: column;
}

.preview-user-count {
  font-weight: bold;
  font-size: 80px;
}

.preview-count-title {
  font-family: "Inter";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* User feedback section  */
.reviews-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}
.reviews-container h2 {
  color: black;
  font-size: 50px;
  margin-bottom: 20px;
  position: relative;
}

.review-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.review-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 300px;
  padding: 20px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
}

.review-card h3 {
  margin: 10px 0;
}
.review-card p {
  margin: 10px 0;
  font-family: "Body base";
}
.reviewer-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.reviewer-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.reviewer-name {
  color: #757575;
}

.reviewer-info span {
  color: #b3b3b3;
  font-size: 13px;
}

/* Let's Get in touch styles*/
.email-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: auto;
  padding: 20px;
  margin-bottom: 100px;
}

.email-title {
  font-family: "Raleway";
  font-size: 80px;
  font-weight: bold;
  margin: 0 150px;
  line-height: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: block;
  font-family: "Inter";
  font-weight: medium;
  font-size: 18px;
}

.email-input,
.name-input {
  width: 250px;
  border-radius: 10px;
  border-color: lightgrey;
  border-style: solid;
  font-size: 18px;
  padding: 14px 32px;
}

.message-input {
  height: 100px;
  resize: none;
  border-style: solid;
  border-radius: 10px;
  font-size: 18px;
  border-color: lightgrey;
  padding: 10px 10px;
}

.submit-button {
  background-color: #4e47ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 20px 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #110caa;
}

/* Footer Styles   */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer-logo {
  font-family: "Inter";
  font-weight: bolder;
  font-size: 100px;
  color: #4e47ff;
  margin-top: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-title {
  width: 530px;
  height: 48px;
  text-align: center;
  color: #8987a1;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  color: #8987a1;
  margin-top: -10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-end {
  transition: all 0.3s;
}

.footer-end:hover {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
